/* ------------------------ */
/* ----- Reset Styles ----- */
/* ------------------------ */

@import url("reset.css");


/* ------------------------ */
/* -------- Fonts --------- */
/* ------------------------ */

@import url("https://fonts.googleapis.com/css?family=Inter:300,regular,700$display=swap");

/* ------------------------ */
/* ----- Main Styles ------ */
/* ------------------------ */

body {
	font-size: 16px;
	font-family: "inter", sans-serif;
}

[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

