@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");

body {
	font-family: "Inter", sans-serif;
	background-color: rgb(128, 105, 105);
	color: #fff;
		}

.wrapper {
	overflow: clip;
	min-height: 100%;

}

[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;}



.transform{
	width: 400px;
	height: 300px;
	border: 2px  solid darkred;
	position: relative;

}

.views{
	width: 150px;
	height: 150px;
	background-color: rgb(229, 231, 198);
	position: absolute;
	top: 30px;
	left: 20px;
	
}

.views__translate-xy {
	position: absolute;
	top: 0;
	left: 100%;
	width: 150px;
	height: 150px;
}

img{
	width: 100%;
}

.views__translate-xy:hover img{
	transform: translate(30px, 40px);
	

}

.views__translate-x:hover img{
	transform: translateX(40px);
	transition: all 2s;
	
}


.views__translate-y{
	background-color: rgb(169, 165, 165);
	
}
.views__translate-y:hover img{
	opacity: 0.6;
	transform: translateY(30%);
	transition: all 4s;

}

.views__scale-xy{
	transform: scale(1.5, 1);
} 

.views__scale-xy:hover img{
	transform: scale(-1.2,  1.2);
	transition: all 2s;
}

.views__scale-x{
	transform: scaleX(0.6);
	position: absolute;
	left: 50%;
	transform: translate(-50% , 50%);
}
.views__scale-x:hover img {
	transform: scale(2);
	transition: all  2s;

}
.views__scale-y:hover img {
	transform: scale(2);
	transition: all 2s;

}

.views__rotate{
	transform: rotate(-25deg);
}
.views__rotate:hover img {
	transform-origin: left bottom ;
	transform: rotate(360deg) ;
	transition: all 4s;
	border-radius: 50%;

}

.views__skew{
	transform-origin:0 0;
	transform: skew(20deg);}


.views__skew:hover img{

	transform: rotate(730deg) skew(10deg, -10deg) scale(2);
	transition: all 2s;
}

.transform{
	perspective: 200px;
	perspective-origin: -10px 10px;
}

.views__perspective:hover img{
	transform:rotatex(45deg);
}

.views__translate-3d{
	transform: translate3d(10px, 20px, 50px);
}

.views__translate-3d:hover {
	transform: scale3d(1, 1, 2);
	transition: all 4s;
	transform-style: preserve-3d;


}
.views__rotate-3d:hover img{
	transform: rotate3d(0, 1, 0, 180deg) ;
	transition: all 4s;
	opacity: 0;
	transform-style: preserve-3d;}
	


.views__transform-style:hover img{
backface-visibility: hidden;
transition: all 4s;
transform: rotatey(100deg) scale3d(2,2,2);
}

.item{
	width: 600px;
	height: 600px;
	background-color:grey;
}