/* стили для menu */
.menu {
	margin: 0 auto;
}

.menu__list {
	display: flex;


}

.menu__item {
	position: relative;
}

.menu__item:not(:last-child) {
	margin-right: 20px;
}

.menu__item:hover {
	text-decoration: underline;
}

.menu__link {
	color: rgb(11, 110, 197);
	padding-top: 15px;
	padding-bottom: 15px;

}

/* услови при котором появляется menu__submenu*/
.menu__item:hover .menu__submenu {
	opacity: 1;
	visibility: visible;

}



/* стили для submenu */


.menu {
	padding-top: 200px;
}

.menu__submenu {

	position: absolute;
	top: 150%;
	/*площадь наведения*/
	left: 0;
	min-width: 200px;
	/* условия при котором  скрівается .menu__submenu*/
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.8s ease;


}

.submenu__item {
	position: relative;
	background-color: rgb(187, 180, 167);
	text-align: center;
	border-bottom: 2px solid gray;
	margin-right: 10px;
}

.submenu__item:hover .menu__subsubmenu {
	opacity: 1;
	visibility: visible;

}

.submenu__item:hover {
	text-decoration: underline;

}


.submenu__link {

	color: rgb(164, 6, 27);
}

.submenu_item  .list__item_transform::after {
	content: "";
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -3px;
	width: 10px;
	height: 6px;
		background: url("../img/header/checkmark.svg") 0 0/ 100% no-repeat;

}


/* стили для sub_submenu */
.menu__subsubmenu {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s ease-in-out;
	position: absolute;
	top: 0;
	left: 101%;
	min-width: 200px;
	background: rgb(244, 247, 255) url(../img/header/avto_bg.jpg) center/ cover no-repeat;
}

.menu__subsubmenu_item {
	padding: 5px;
	border: 2px solid grey;
	border-radius: 3px;

}

.menu__subsubmenu_link {
	color: rgba(100, 5, 5, 0.726);
	text-transform: uppercase;

}

.menu__subsubmenu_link:hover {
	text-decoration: underline;
}