/* ------------------------ */
/* ----- Reset Styles ----- */
/* ------------------------ */

@import url("reset.css");

/* ------------------------ */
/* -------- Fonts --------- */
/* ------------------------ */



/* ------------------------ */
/* ----- Main Styles ------ */
/* ------------------------ */

body{
line-height: 1;
font-size: 16px;

}


[class*="__container"]{
	max-width: 1120px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.wrapper{
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main{
	flex: 1 1 auto;
}

.header{
	background: #FFFFFF;
}
.main{
	background-color: rgb(240, 239, 239);

}

.footer{
	background-color: rgb(146, 119, 44);
}



.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}




.header__logo {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-right: 34px;
}



.header__menu {
	
}

.menu {}



.menu__lists {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 45px;
}

.lists {}



.lists__list {
	display: flex;
	gap: 35px;
	
}

.list {}


.list__item {
	position: relative;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%; /* 24/16 */
	
}
.list__item:hover{
	text-decoration: underline;
	
}

.list__item_parent .list__link {
	padding-right: 35px;
}

.list__item_parent .list__link::after {
	content: "";
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -3px;
	width: 10px;
	height: 6px;
	background: url("../img/header/checkmark.svg") 0 0/ 100% no-repeat;
}



.list__item_parent:hover .wrapper__list{
	opacity: 1;
	visibility: visible;
}


.list__link {
	padding: 8px 20px;
}

.list__item  .list__link:hover{
	color: #3056D3;
}
.list__item_parent .list__link:hover{
	background: #F4F7FF;
	border-radius: 5px;
	color: black;
}


.wrapper__list{
	position: absolute;
	top: 100%;
	left: 0;
	width: 180px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	padding-top: 40px;
}

.submenu {
	display: flex;
	flex-direction: column;
	row-gap: 13px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	padding: 22px 0;
	position: relative;
	transform: translateY(10px);
	
}


.submenu::after{
	content: "";
	position: absolute;
	left: 10px;
	top: -10px;
	width: 0;
	height: 0;
	border-right: 10px solid transparent ;
	border-left: 10px solid transparent;
	border-bottom: 10px solid rgb(253, 253, 253);
	border-radius: 2px;
	z-index: -1;
	
}

.submenu__item {
position: relative;
}



.submenu__item:hover{
	text-decoration: underline;
}
.submenu__item:hover .submenu__column{
	visibility: visible;
	opacity: 1;
}



.submenu__link {
	padding: 0 24px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #637381;
}

.submenu__link_action .submenu__link::after{
	position: absolute;
	top: 30%;
	left: 80%;
	width: 10px;
	height: 10px;
	content: "";
	background: url(../img/header/checkmark.svg)0 0/100% no-repeat;
	transform: rotate(-90deg);
	transition: transform 2s;
}
.submenu__link_action .submenu__link:hover::after  {

}





/* start стили для блока  header__favorit */

.header__favorit {
	display: flex;
	column-gap: 20px;
	
}
.header__favorit_search {}

.header__favorit_faivorit {
	position: relative;
}

.header__favorit_cash {
	position: relative;
}


.favorit_cash_action span{
	position: absolute;
	top: -5px;
	right: -5px;
	width: 16px;
	height: 16px;
	background-color:  #3056D3;
	border-radius: 50%;
	color:white;
	text-align: center;
}

/* end стили для блока  header__favorit */



/* start стили для блока  .submenu__column*/
.submenu__column {
	display: flex;
	width: 652px;
	justify-content: space-between;
	content: "";
	position: absolute;
	top: 0;
	left: 100%;
	border: 0.5px solid #E7E7E7;
	border-radius: 5px;
	background: #FFFFFF;
	justify-items: center;
	padding: 30px;
	/* скріваем блок  submenu__column*/
	opacity: 0;
	visibility: hidden;
}

.column__submenu {
}

.column__submenu_item {
	display: flex;
	flex-direction: column;
	
}

.submenu_item {
	
}

.submenu_item_title {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	
}
.submenu_item_wrapper:not(:last-child) {
	margin-bottom: 20px;
}

.submenu_item_content {
}

.submenu_item_content_list {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}
.submenu_item_content_item {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #637381;
}

.submenu_item_content_link:hover {
	text-decoration: underline;
}

.submenu_item_banner {
	flex: 1 0 33.7%;
	overflow: hidden;
	
}

.submenu_item_banner img{
	transition: transform 2s;
	width: 100%;
}

.submenu_item_banner img:hover{
	transform: scale(1.4);
	transition: transform 2s ;
}

/* end стилй для блока submenu__column */
.submenu_item{
	margin: 0 -16.5px;
}

.submenu_item_wrapper{

	padding: 0 16.5px;
}