/* ------------------------ */
/* ----- Reset Styles ----- */
/* ------------------------ */

@import url("reset.css");

/* ------------------------ */
/* -------- Fonts --------- */
/* ------------------------ */

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&dispalay=swap");

/* ------------------------ */
/* ----- Main Styles ------ */
/* ------------------------ */

body{
line-height: 1;
font-size: 16px;
font-family: "inter", sans-serif;
}


[class*="__container"]{
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex: 1 1 auto;
}

.header{

}

.header__container{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
	height: 80px;
	width: 100%;

}

/* .header__top{
display: flex;
justify-content: space-between;
} */

.header__menu{
	display: flex;
	gap: 10px;
}

.header__logo {
	display: flex;
	justify-content: center;
}

.header__search{
	display: flex;
	justify-content: end;
}

.menu__item .menu__link{
	
	
}
.menu__link:hover{
	text-decoration: underline;
}



.item__active {
	position: relative;
}
.menu__link{

}





.sub__menu{
	
	opacity: 0;
	visibility: hidden;
	
	position: absolute;
	top: 100%;
	left: 0;
	width: 150px;
	background-color: rgba(128, 128, 128, 0.15);
	border-radius: 4px;
	transition: opacity 1s ;
}

.submenu__link{
	padding: 0 20px;
}

.menu__item:hover .sub__menu {
	opacity: 1;
	visibility: visible;
	transition: opacity 3s;
}





.main__trending {
	padding-top: 40px;
	display: flex;
	justify-content: start;
	
}
.main__trending:not(:last-child){
	margin-bottom: 45px;
}



.trending__title {}

.main__traiding_images {
	display: grid;
	grid-template-columns: repeat(3 ,  393px);
	grid-template-rows: repeat(4, 450px );
	gap: 30px;
}



.traiding_image  {
	
}

.traiding_image__item img{
	width: 100%;
	height: 100%;
}
.traiding_image__item{
	position: relative;
	border-radius: 3px;
	
}
.traiding_image__item:nth-child(1)  { 
	grid-column: span 2;
}

.traiding_image__item:nth-child(3){ 
		
	
}
.traiding_image__item:nth-child(4) {

	grid-column: span 2;
}

.traiding_image__item:nth-child(5) {

	grid-column: span 2;
} 

.traiding_image__item:nth-child(6) {

	
}

.traiding_image__item:nth-child(7) {

	
}
.traiding_image__item:nth-child(8) {
grid-column: span 2;
	
}

.traiding_image__content {
	content: "";
	position: absolute;
	bottom:  50px;
	left: 50px;
	right: 50px;
	display: flex;
	flex-direction: column;
	justify-content:end;
	row-gap: 15px;
	max-width: 343px;

}



.content__date {
	
	color: rgba(229, 229, 229, 1);
	font-size: 12px;
	font-weight: 300;
	line-height: 166.666667%; /* 20/12 */
	
}

.content__text {
	
	color: #F8F9FA;
	font-size: 16px;
	font-weight: 500;
	line-height: 156.25%;/* 25/16 */

}
.content__text:hover{
	text-decoration: underline;
	color: green;
}

