@import url("reset.css");

@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,700&displayswap);
main{
	font-family: "Inter", sans-serif ;
	background: #E6E6E6;
}



.header {
width: 100%;
background: url("../img/icons/header-bg.jpg") center /cover no-repeat;
border-radius: 0px 5px 5px 0px;
padding-top: 330px;
padding-bottom: 100px;
}

[class*="__conteiner1"] {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}

.header__conteiner1  {
color: #F8F9FA;
font-weight: 300;
font-size: 12px;
line-height: 1.66; /* 20/12 */
}



.header__conteiner1 p, h1{
	margin-bottom: 15px;
}
.text{
max-width: 605px;
font-weight: 700;
font-size: 25px;
line-height: 1.6; /* 40/25 */
}

.speaker{
width: 100%;
background:url("../img/icons/speaker.png") 70% center/20% auto  no-repeat,   linear-gradient(131deg, rgba(244, 247, 255, 1) 62%, rgba(228, 234, 251, 1) 62%, rgba(228, 234, 251, 1) 68%, rgba(214, 223, 248, 1) 68%);;
padding: 145px 0;
}

.text-speaker{
	max-width: 1208px;
	margin: 0 auto;
	padding: 0 15px;
}

 h3{
	color: #212B36;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.25; /* 45/36 */
 }
.text-speaker p,h3{
max-width: 503px;
margin-bottom: 15px;

}

.text-speaker .buttom{
	margin-top: 35px;
}
.button {
	display: inline-block;
	background: #3056D3;
	border-radius: 30px;
	padding: 10px 30px;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
	color: #FFFFFF;
	box-shadow: -2px -2px 2px 2px grey;
}
.button:hover {
	color: rgb(117, 49, 7);
	text-decoration: line-through;
}
.button:active{
	color: rgb(234, 91, 113);
}

.button:focus {
	color: rgb(209, 245, 4);
}

.list__conteiner1{	
border: 2px solid black;
border-radius: 15px;
box-shadow: 4px 4px 3px 3px rgb(103, 90, 90);
background-color:rgba(218, 187, 187, 0) ;
}



.list-section{
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
}


.title-text {
	font-weight: 400;
	font-size: 26px;
	line-height: 1.07;
	/* 28px/26 */
	color: #212B36;
	padding-bottom: 20px;
}
/* для первого ul стили*/


.one-section li{
	margin-top: 18px;
}
.circle{
	max-width: 264px;
	background: linear-gradient(55.95deg, #e7504d 0%, #6b3312 100%);
	border: 2px solid black;
	margin-bottom: 10px;
}

.circle li{
background: url("../img/icons/ellipse.svg") left 5px/ 8px  no-repeat ;
padding-left: 20px;
padding-top: 2px;
min-height: 8px;
}

.one-section:hover {
	color: rgb(199, 189, 189);
}


.one-section li:first-child{
	text-transform: uppercase;
}
.one-section li:nth-child(odd) {
	color: red;
}
.one-section li:nth-child(even) {
	color: rgb(0, 140, 255);
}
.one-section li:last-child{
	text-decoration: line-through;
	color: blue;
}

/* для второго ul стили*/

.two-section li{
margin-bottom: 20px;
}
.checkmark-circle1{
max-width: 309px;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(30, 200, 72, 1) 100%);
margin-bottom: 10px;
border: 2px dotted black;
}

.checkmark-circle1 li{
background: url("../img/icons/checkmark-circle.svg") left 0/ 20px no-repeat;
padding-left: 30px;
min-height: 20px;
padding-top: 2px;
}

.two-section li:hover{
	background: rgba(195, 46, 4, 0.575);
}

.two-section li:nth-child(3){
	color: red;
}
.two-section li:nth-child(4){
	color: rgb(128, 47, 0);
}

/* для третьего  ul стили*/
.three-section li {
	margin-bottom: 20px;
}

.checkmark-circle2 {
	max-width: 309px;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(175, 215, 194, 1) 100%);
margin-bottom: 10px;
border-right: 3px dashed black ;
border-left: 3px dashed black;
}

.checkmark-circle2 li {
	background: url("../img/icons/checkmark-circle2.svg") 0 0/ 20px no-repeat;
	padding-left: 30px;
	min-height: 20px;
	padding-top: 2px;
}

/* для четвертого ul стили*/
.four-section {
	max-width: 409px;
	margin-bottom: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.four-section li
{
	margin-bottom: 20px;
}
.cross-circle li {

	padding-left: 30px;
	min-height: 20px;
	padding-top: 10px;
	
}

.four-section li:hover {
	background-color: #3056d332;
	text-decoration: underline;
	border-radius: 10px;
}



.four-section  li::before{
	content: "";
	display: inline-block;
	background: url("../img/icons/cross-circle.svg") 0 0 no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.four-section li::after{
	content: "";
	display: inline-block;
	background: url("../img/icons/cross-circle.svg") right 0 no-repeat;
	width: 20px;
	height: 20px;
	margin-left: 10px;
}
.four-section li:hover::before{
	background-color: rgb(242, 255, 0);
	border-radius: 50%;
	
}

.four-section li:hover::after{
	background-color: #6b3312;
	border-radius: 50%;
}

/* для пятого ul стили*/
.five-section {
max-width:309px ;
margin-bottom: 10px;
border: 3px solid rgb(2, 2, 2);
border-radius: 6px;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(66, 99, 21, 0.41222426470588236) 100%);
}
.five-section li{
margin-bottom: 20px;
}
.vector li {
background: url("../img/icons/arrow-right.svg") left -2px/ 20px no-repeat;
padding-left: 30px;
min-height: 20px;
}

.five-section li:nth-child(3){
background: #212B36;
font-weight: 500;
text-decoration: underline;}

.five-section li:nth-child(2) {
	background: #212B36;
	font-weight: 500;
	text-decoration: underline ;
	visibility: hidden;
}

.five-section:hover li  {
visibility: visible;
}
/* для шестого  ulстили*/
.six-section {
	max-width: 307px;
	border: 3px dashed black ;
	margin-bottom: 10px;
}

.six-section li{
	margin-bottom: 20px;
}
.star li {
	background: url("../img/icons/star.svg") left -1px/ 18px no-repeat;
	padding-left: 25px;
	padding-top: 2px;
	min-height: 18px;
}

.six-section li::before{
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: red;
}

.six-section li::after {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: rgb(0, 8, 255);
}
.list-section li:last-child {
	margin-bottom: 0;
}
